@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  scroll-behavior: smooth;
}

*:focus {
  outline: none;
}
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-background-clip: text;
  -webkit-text-fill-color: #4e6548;
}

@font-face {
  font-family: "main";
  src: url("../src/assets/fonts/BlackMango-Medium.ttf");
}
@font-face {
  font-family: "sub";
  src: url("../src/assets/fonts/Muli-Bold.ttf");
  src: url("../src/assets/fonts/Muli.ttf");
  src: url("../src/assets/fonts/Muli-Light.ttf");
  src: url("../src/assets/fonts/Muli-LightItalic.ttf");
  src: url("../src/assets/fonts/Muli-Light.ttf");
}
@font-face {
  font-family: "quote";
  src: url("../src/assets/fonts/HauteCouture-Regular.woff");
}
@font-face {
  font-family: "pluto";
  src: url("../src/assets/fonts/PlutoSansLight.otf");
}

#base path {
  fill: #9e5330;
}

#mask path {
  fill: none;
  stroke: #ffffff;
  stroke-width: 10px;
  stroke-linecap: round;
  stroke-linejoin: round;
}

.home-hero { 
  background: url(img/home-hero.png) no-repeat;
}

.home-hero-heading-section {
  clip-path: polygon(100% 0, 100% 50%, 80% 100%, 0% 100%, 40% 0);
}

.home-hero-heading-section-button {
  clip-path: polygon(100% 0, 100% 50%, 100% 100%, 10% 100%, 18% 0);
}

.home-hero-heading-section-1 {
  clip-path: polygon(20% 0%, 100% 0, 78% 100%, 0% 100%);
}

.home-section-one {
  background: url(img/home-section-1.png) no-repeat;
}

.home-section-two {
  background: url(img/home-section-2.png) no-repeat;
  background-position: left;
}

.home-section-three-right {
  background: url(img/home-section-3.jpg) no-repeat;
  clip-path: polygon(0 0, 100% 0%, 100% 100%, 30% 100%);
  background-size: cover;
}

.interior-hero { 
  background: url(img/interior-hero.jpg) no-repeat;
  background-size: cover;
}